---
// Component Imports
import SitePage from "../../components/new/SitePage.astro";
import sortPosts from "../../utils/sort-posts.mjs";
import {SITE_TITLE, SITE_KEYWORDS, SITE_DESCRIPTION, SITE_AUTHOR, SITE_CANONICAL_URL} from "../../SETTINGS.mjs";
const { sorted } = sortPosts(Astro
.fetchContent('./posts/*.md'));
const pageLinks = [
  {url:'/blog', text:'Blog'},
  {url:'#me', text:'Me'},
  {url:'#projects', text:'Projects'}
];
const title = `${SITE_TITLE} -- Weblog`;
---

<SitePage title={title} description={SITE_DESCRIPTION} keywords={SITE_KEYWORDS} author={SITE_AUTHOR} canonical={SITE_CANONICAL_URL} pageLinks ={pageLinks}>
    <style>
      @import '/style/new/classes/blog/blog.css';
    </style>
    <section class="blog">
      <h1 class="latest">{title}</h1>
      <main>
          {sorted.map(({publishDate, url, title, description}) =>
          <article class="post-preview">
          <header>
            <p class="publish-date">{publishDate}</p>
            <a href={url}><h1 class="title">{title}</h1></a>
          </header>
          <main>
            <p>{description}</p>
            <a href={url}>Read more</a>
          </main>
        </article>)}
      </main>
    </section>
</SitePage>

