---
// Component Imports
import SitePage from "../../components/SitePage.astro";
import sortPosts from "../../utils/sort-posts.mjs";
import {SITE_TITLE, SITE_KEYWORDS, SITE_DESCRIPTION, SITE_AUTHOR, SITE_CANONICAL_URL} from "../../SETTINGS.mjs";
import JH from "../../components/jh/index.astro";
const { sorted } = sortPosts(Astro
.fetchContent('./posts/*.md'));
const pageLinks = [
  {url:'/blog', text:'Blog'},
  {url:'/#me', text:'Me'},
  {url:'/#projects', text:'Projects'}
];
const title = `${SITE_TITLE} -- Weblog`;
---

<SitePage title={title} description={SITE_DESCRIPTION} keywords={SITE_KEYWORDS} author={SITE_AUTHOR} canonical={SITE_CANONICAL_URL} pageLinks ={pageLinks}>
          <section class="blog-preview glowey-background">
            <header>John Henry's Web Log</header>
          </section>
          {sorted.map(({publishDate, url, title, description, heroImage}) =>
          <section class="blog-preview glowey-background">
            <header>
              <p>{publishDate}</p>
              <a href={url}>{title}</a>
            </header>
            <main>
              <img src={heroImage}>
              <p>{description}</p>
            </main>
            <footer>
              <a href={url}>Read more</a>
            </footer>
          </section>)}
</SitePage>

