---
import Logo from "../components/svg/jh/jh.astro";
import sortPosts from "../utils/sort-posts.mjs";

const {latest, tags} = sortPosts(Astro
.fetchContent('./blog/posts/*.md'));

const pageLinks = [
  {url:'me', text:'Me'},
  {url:'projects', text:'Projects'}
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module">
      import "https://johnhenry.github.io/lib/js/css-variables-mouse/0.0.0/index.mjs";
      import "https://johnhenry.github.io/lib/js/css-variables-scroll/0.0.0/index.mjs"
    </script>
    <style>
      @import "https://johnhenry.github.io/lib/css/universal-unstyled-links/0.0.0/index.css";
      @import "https://johnhenry.github.io/lib/css/universal-box-sizing/0.0.0/index.css";
      @import "/style/new/index.css";
    </style>
  </head>
  <body>
      <section id="hero">
        <main>
          <Logo class="animated-logo" path-class="glowey-fill"
            stops="[-1, -1, 0, 0, 1]"
            intervals="[1, 2, 3, 2]"
            animate
            animation-duration="30s"
            animation-iteration-count="infinite"
            animation-timing-function="linear" ></Logo>
          <ul class="widget glowey-background-container">
            <li >
            <a class="link link-untracked" href="/blog">BLOG</a>
            </li>
            <li>
                <main>
                  <p>
                    <a class="link link-untracked" href="{latest.url}">Latest: {latest.title}</a>
                  </p>
                  <p>{latest.description}</p>
                </main>
                <footer>
                  <a class="link" href="{latest.url}">read more</a>
                </footer>
            </li>
            <li>
              Tags
              <span id="tags">
              {[...tags].map((tag, index) =><a class={`button button-tiny ${index%2 && 'button-inverted '}`} href={`/tag/${tag}`} title={`tag: ${tag}`}>{tag}</a>)}
              </span>
            </li>
            <li>
              {
                pageLinks.map(({url, text}, index) => (
                    <a class={`button ${index%2 && 'button-inverted '}`} href={`#${url}`}>{text} ↓</a>
                ))
              }
            </li>
          </ul>
        </main>
      </section>
      <section id="me">
        <span>Me</span>
        <main>
          <div class="alt">
            <span><img src="/image/iajh.png" /></span>
            <main class="glowey-background">
              <p>Hi! My name is John.</p>
              <p>I'm a mathmetician, a scientist, and an engineer (yes, those are different things!). </p>
              <p>I develop websites professionally. In my spare time, I like to work on interesting mathematical and computer science-related experiments.</p>
            </main>
          </div>
          <div class="alt">
            <span><img src="/image/iajh.png" /></span>
              <main class="glowey-background">Morbi nisl est, interdum et magna quis, bibendum scelerisque neque. Sed ac consectetur lacus. Vestibulum sollicitudin quam ut augue efficitur porta. Aliquam convallis rutrum libero non hendrerit. Integer auctor odio nulla, eget maximus augue ornare non. Nulla urna est, vulputate a tempus scelerisque, facilisis ut enim. Curabitur convallis eros velit, vel dapibus massa sagittis finibus.</main>
          </div>
          <div class="alt">
            <span><img src="/image/iajh.png" /></span>
            <main class="glowey-background">
              <p>Email me at
                <a href="mailto:john@iamjohnhenry.com"
                target="_blank">here</a>.
              </p>
              <p>
                Follow me on twitter at
                <a href="https://twitter.com/iamjohnhenry" target="_blank">here</a>.
              </p>
              <p>
                Checkout my github account at
                <a href="https://github.com/johnhenry" target="_blank">here</a>.
              </p>
            </main>
          </div>
        </main>
      </section>

      <section id="projects">
        <span>Projects</span>
        <main class="glowey-background-container">

          <div>
            <header>Bash Command Line tools</header>
            <footer>Use <a class="link link-untracked" href="https://johnhenry.github.io/lib/bash">here</a>.</footer>
          </div>

          <div  style="background-image: url('https://johnhenry.github.io/vendor/img/www.pexels.com/pixabay/turned-on-computer-monitor-displaying-text-300.jpg');">
            <header>Standard Library -- set of components for building applications.</header>
            <footer>Use <a class="link link-untracked" href="https://johnhenry.github.io/lib">here</a>.</footer>
          </div>

          <div>
            <header>Forsnaken -- Multiplayer snake game</header>
            <footer>Play <a class="link link-untracked" href="https://johnhenry.github.io/forsnaken">here</a>.</footer>
          </div>

          <div>
            <header>HTML Builder -- Build HTML with components</header>
            <footer>Use <a class="link link-untracked" href="https://johnhenry.github.io/htmlbuilder">here</a>.</footer>
          </div>

          <div>
            <header>Blog -- Thoughs and musings.</header>
            <footer>Read <a class="link link-untracked" href="https://johnhenry.github.io/blog">here</a>.</footer>
          </div>
        </main>

      </section>
      <header>
        <a href="/#" ><img src="/image/iajh.png" />John Henry</a>
        <ul class="nav-list">
          {
            pageLinks.map(({url, text}) => (
              <li>
                <a href={`#${url}`}>{text}</a>
              </li>
            ))
          }
          <li><a href="/blog">Blog</a></li>
        </ul>
      </header>
      <footer></footer>
      <span class="mouse-chaser" style="--mouse-z: var(--header-z)"></span>
  </body>
</html>