---
import Logo from "../components/svg/jh/jh.astro";
import sortPosts from "../utils/sort-posts.mjs";
import {SITE_TITLE, SITE_KEYWORDS} from "../SETTINGS.mjs";
import projects from "./projects.mjs";
const { latest=undefined, tags=[] } = sortPosts(Astro
.fetchContent('./blog/posts/*.md'));
const tagArray = [...tags];
const pageLinks = [
  {url:'me', text:'Me'},
  {url:'projects', text:'Projects'}
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="John Henry'">
    <meta name="keywords" content={SITE_KEYWORDS.concat(tagArray).join(',')}>
    <meta name="author" content="John Henry">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      @import "https://johnhenry.github.io/lib/css/universal-unstyled-links/0.0.0/index.css";
      @import "https://johnhenry.github.io/lib/css/universal-box-sizing/0.0.0/index.css";
      @import "/style/new/index.css";
    </style>
    <link rel="icon" href="/image/iajh.png" type="image/x-icon" />
    <script type="module">
      import "https://johnhenry.github.io/lib/js/css-variables-mouse/0.0.0/index.mjs";
      import "https://johnhenry.github.io/lib/js/css-variables-scroll/0.0.0/index.mjs"
    </script>
    <title>{SITE_TITLE}</title>
  </head>
  <body>
      <section id="hero">
        <main>
          <Logo class="animated-logo" path-class="glowey-fill"
            stops="[-1, -1, 0, 0, 1]"
            intervals="[1, 2, 3, 2]"
            animate
            animation-duration="30s"
            animation-iteration-count="infinite"
            animation-timing-function="linear" ></Logo>
          <ul class="widget glowey-background-container">
            {(latest || null) && <li class="blog-link">
            <a class="link link-untracked" href="/blog">BLOG</a>
            </li>}
            {(latest || null) && <li class="blog">
              <a class="mini-preview link-hidden" href="{latest.url}">
                  <header>
                    {latest.title}
                  </header>
                  <p>{latest.description}</p>
              </a>
            </li>}
            {(tagArray.length || null) && <li>
              Tags
              <span id="tags">
              {tagArray.map((tag, index) =><a class={`button button-tiny ${index%2 && 'button-inverted '}`} href={`/tag/${tag}`} title={`tag: ${tag}`}>{tag}</a>)}
              </span>
            </li>}
            <li>
              {
                pageLinks.map(({url, text}, index) => (
                    <a class={`button ${index%2 && 'button-inverted '}`} href={`#${url}`}>{text} ↓</a>
                ))
              }
            </li>
          </ul>
        </main>
      </section>
      <section id="me">
        <span>Me</span>
        <main>
          <div class="alt">
            <span><img src="/image/iajh.png" alt="logo"/></span>
            <main class="glowey-background">
              <p>Hi! My name is John.</p>
              <p>I'm a mathmetician, a scientist, and an engineer (yes, those are different things!). </p>
              <p>I develop websites professionally. In my spare time, I like to work on interesting mathematical and computer science-related experiments.</p>
            </main>
          </div>
          <div class="alt">
            <span><img src="/image/iajh.png"  alt="logo"/></span>
              <main class="glowey-background">Morbi nisl est, interdum et magna quis, bibendum scelerisque neque. Sed ac consectetur lacus. Vestibulum sollicitudin quam ut augue efficitur porta. Aliquam convallis rutrum libero non hendrerit. Integer auctor odio nulla, eget maximus augue ornare non. Nulla urna est, vulputate a tempus scelerisque, facilisis ut enim. Curabitur convallis eros velit, vel dapibus massa sagittis finibus.</main>
          </div>
          <div class="alt">
            <span><img src="/image/iajh.png" alt="logo"/></span>
            <main class="glowey-background">
              <p>
                <a href="mailto:john@iamjohnhenry.com"
                target="_blank" rel="noreferrer">Send me an email.</a>
              </p>
              <p>
                <a href="https://twitter.com/iamjohnhenry" target="_blank" rel="noreferrer">Follow me on twitter.</a>
              </p>
              <p>
                <a href="https://github.com/johnhenry" target="_blank" rel="noreferrer">Checkout my github account.</a>
              </p>
            </main>
          </div>
        </main>
      </section>

      <section id="projects">
        <span>Projects</span>
        <main class="glowey-background-container link-surprise-container">
          {projects.map(({title, description, href, image}) => (
            <a href={href} >
              <div style={image ? `background-image: url('${image}');`: ''}>
                <header>{title}</header>
                <footer>{description}</footer>
              </div>
            </a>
          ))}
        </main>

      </section>
      <header>
        <a href="/#" ><img src="/image/iajh.png" width="16" height="16"  alt="logo" />John Henry</a>
        <ul class="nav-list">
          {
            pageLinks.map(({url, text}) => (
              <li>
                <a href={`#${url}`}>{text}</a>
              </li>
            ))
          }
          <li><a href="/blog">Blog</a></li>
        </ul>
      </header>
      <footer>
        <a href="#">© {new Date().getFullYear()} John Henry</a>
      </footer>
      <span class="mouse-chaser" style="--mouse-z: var(--header-z)"></span>
  </body>
</html>