---
import SiteHead from "./SiteHead.astro";
const {title, description, keywords, author, canonical, pageLinks, tagManagerId } = Astro.props
import { TAG_MANAGER_ID } from '../SETTINGS.mjs';
import GDPRRequest from './GDPRRequest.astro';
import TagManagerBody from './TagManagerBody.astro';
---
<!DOCTYPE html>
<html lang="en">
  <SiteHead title={title} description={description} keywords={keywords} author={author} canonical={canonical}></SiteHead>
  <body>
      <slot />
      <header>
        <a href="/#" ><img src="/image/iajh.png" width="16" height="16"  alt="logo" />John Henry</a>
        <ul class="nav-list">
          {
            pageLinks.map(({url, text}) => (
              <li>
                <a href={`${url}`}>{text}</a>
              </li>
            ))
          }
        </ul>
      </header>
      <footer>
        <ul>
          <li class="nav-list">
              <a href="#">© {new Date().getFullYear()}  {` ${author}`}</a>
            <!-- Todo: Astro whitespace may be fixed in Astro 0.21? -->
          </li>
        </ul>
      </footer>
      <span class="mouse-chaser" style="--mouse-z: var(--header-z)"></span>
      {TAG_MANAGER_ID ? <GDPRRequest /> : null}
      {TAG_MANAGER_ID ? <TagManagerBody tmid={`${TAG_MANAGER_ID}`} /> : null}
  </body>
</html>